/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
/* ol, ul {
	list-style: none;
} */
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------------------------------------- */

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/* ------------------------------------------------- */

body {
    background: rgb(240, 229, 229);
    display: flex;
    flex-direction: column;
}

#food {
  width: 300px;
  height: 30px;
  margin-left: auto;
  margin-right: 10px;
  padding-left: 15px;
}

#clickMe {
  width: 100px;
  margin-left: auto;
  margin-right: 10px;
}

#clearMe{
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}


#foodImg {
  width: 90%;
  /* max-height: 70%; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
h1, h2{
  color: rgb(57, 56, 56);
  text-align: center;
}

#foodURL {
  text-align: center;
}

#foodName{
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding: 25px 0;
}

/* #foodInstructions {
  padding: 0 35px;
  margin-left: auto;
  margin-right: auto;
}

#foodSteps{
  margin-left: auto;
  margin-right: auto;
} */

/* ---------------------------------- */

svg {
  width: 250px;
}

header {
  width: 100%;
  height: 100px;
  background: #F2D1CE;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.search-div {
  display: flex;
  margin-right: 5%;
}

.logo-div {
  margin-left: 5%;
}

section {
  min-height: 90vh;
  width: 100%;
  display: flex;
}

aside {
  /* background: turquoise; */
  width: 45%;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
}

main {
  /* background: seagreen; */
  border-left: 1px solid brown;
  margin: 25px 0;
  padding: 25px 50px;
  display: flex;
  flex-direction: column;
  width: 55%;
  max-height: 80vh;
  overflow: scroll;
  overflow-x: hidden;
}

.ingredients, .instructions {
  font-size: 24px;
  font-weight: bold;
}

#timeEstimate {
  text-align: center;
  padding-bottom: 25px;
}

li {
  padding: 10px 0;
}

footer {
  width: 100%;
  height: 100px;
  background: #F2D1CE;
}

