/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
/* ol, ul {
	list-style: none;
} */
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------------------------------------- */

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/* ------------------------------------------------- */

body {
    background: #f1dcda;
    display: flex;
    flex-direction: column;
}

#food {
  width: 300px;
  height: 30px;
  margin-left: auto;
  margin-right: 10px;
  padding-left: 15px;
}

#clickMe {
  width: 100px;
  margin-left: auto;
  margin-right: 10px;
}

#clearMe{
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}


#foodImg {
  width: 100%;
  /* max-height: 70%; */
  margin-left: auto;
  margin-right: auto;
  margin: 0 0 25px 0;
}

h1, h2{
  color: rgb(57, 56, 56);
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

#foodURL {
  text-align: center;
}

#foodName{
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding: 50px 0;
}

/* ---------------------------------- */

h1, h2, h3, span, a, li, button {
  color: #0b032a;
}

svg {
  width: 250px;
}

header {
  width: 100%;
  height: 100px;
  background: #F2C6C2;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.search-div {
  display: flex;
  margin-right: 5%;
}

.logo-div {
  margin-left: 5%;
}

section {
  min-height: 90vh;
  width: 100%;
  display: flex;
}

aside {
  width: 45%;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
}

main {
  border-left: 1px solid #b19491;
  margin: 25px 0;
  padding: 25px 50px;
  display: flex;
  flex-direction: column;
  width: 55%;
  max-height: 80vh;
  overflow: scroll;
  overflow-x: hidden;
}

.ingredients, .instructions {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

#timeEstimate {
  text-align: center;
  padding-bottom: 25px;
}

li {
  padding: 10px 0;
  font-family: 'Roboto', sans-serif;
}

span, p, a {
  font-family: 'Roboto', sans-serif;
}

footer {
  width: 100%;
  height: 100px;
  background: #F2C6C2;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer ul {
  display: flex;
}

footer li {
  list-style: none;
  padding: 0 10px;
}

footer a {
  color: white;
  font-size: 24px;
}

footer a:hover {
  color: #e9e8e8;
}

button {
  border: none;
  outline: 1px solid #b19491;
  background: #f6f3f2;
}

button:hover {
  background: #f6eeee;
}

/* ----------------------------------------- */

@media screen and (max-width: 875px)  {
  header {
    display: flex;
    flex-direction: column;
    padding: 25px 0;
    height: 150px;
  }
  .search-div {
    width: 100%;
    margin: auto;
  }
  #food {
    width: 60%;
  }
  section {
    display: flex;
    flex-direction: column;
  }
  main, aside {
    width: 100%;
  }
  main {
    max-height: fit-content;
    overflow: visible;
  }
}

/* --------------------------------------------- */

main::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

main::-webkit-scrollbar-track {
  background: #f1dcda;
}

main::-webkit-scrollbar-thumb {
  background: #dbb3af;
  border-radius: 5px;
}

main::-webkit-scrollbar-thumb:hover {
  background: #c6a29e;
}